@charset "utf-8";
/* CSS Document */

.main_width{ width:1440px; margin:0 auto; margin-top:15px;
    color: #333333;
    font: 12px/20px "SimSun","宋体","Arial Narrow";
    min-width: 950px;
    padding: 10px 0;}

.clearfix:after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
}
.tw-container {
    margin: 0 auto;
    padding: 0 0 10px;
    width: 852px;
}
.twc-item-li {
	list-style:none;
	float:left;
	padding: 0 0 10px;
    width: 274px;
    margin-left:10px;
    margin-bottom:12px;
}

.twc-item {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DFDFDF;
    position:relative;
    box-shadow: 2px 2px 2px #E8E8E8, -2px -2px 2px #E8E8E8;
    float: left;
    padding: 0 0 10px;
    width: 274px;
    margin-left:10px;
    margin-bottom:12px;
}

.twcil-img {
    margin: 12px;
    vertical-align: middle;
	width:250px;
}
.twci-header {
    height: 25px;
    margin: 0 12px;
}
.twcih-txt {
    color: #494949;
    float: left;
    font: bold 14px/1.56 'Microsoft Yahei','黑体';
    height: 22px;
    margin: 0 0 0 5px;
    overflow: hidden;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 220px;
}
.twcih-txt:hover {
    text-decoration: underline;
}
.twcih-txt:visited {
    color: #999999;
}
.twcih-value {
    float: left;
}

.twcih-value {
    color: #B3B3B3;
    font: bold 12px/1.83 'MS Song';
    height: 100%;
    overflow: hidden;
    text-align: center;
    text-decoration: underline;
    width: 15px;
}

#toTop {
    background: url("../../images/Album/class_list_photo_p2/goTop.gif") repeat scroll 0 0 transparent;
    bottom: 20px;
    display: none;
    height: 74px;
    position: fixed;
    right: 30px;
    width: 27px;
}
#fhxc {
    background: url("../../images/Album/class_list_photo_p/fhxc.gif") repeat scroll 0 0 transparent;
    top: 150px;
    display: none;
    height: 74px;
    position: fixed;
    right: 30px;
    width: 27px;
}
#loading {
    background: url("../../images/Album/class_list_photo_p/load.gif") no-repeat scroll center center #EEEEEE;
    border: 1px solid #C6C6C6;
    box-shadow: 3px 3px 1px #E8E8E8;
    height: 45px;
    margin-top: 20px;

}
#load-more {
    display: none;
}

.twc-item .pinlun a{
	position:absolute;
	right:12px;
	bottom:48px;
	background-color:black; 
	text-align:center; 
	padding:2px 8px; 
	display:inline-block; 
	color:white;
	opacity:.7;-moz-opacity:.7;/*火狐*/
	filter:alpha(opacity=70); /*IE*/ "
}

/*弹出层*/		
		
/*评论照片*/
.edit_comment{width:500px;border:1px #6db500 solid; background:#fff;}
	.tcc_title{font:14px "微软雅黑"; background:#f8f8f8; border-bottom:1px #e9e9e9 solid; padding:0px 10px; height:33px; line-height:33px; width:480px; position:relative;}
	    .close_icon{background:url(../../images/Album/class_list_photo_p/icon_close.gif) 0 0 no-repeat;width:10px;height:9px;display:inline-block;position:absolute;right:10px;top:12px;overflow:hidden;}
	  
	.edit_comment_tab{padding:10px; font:12px "宋体";}  
		.edit_comment_tab h2{font:14px "微软雅黑"; color:#5a5a5a; padding-bottom:8px;}
		.textarea{width:470px; height:60px; border:1px #e9e9e9 solid;}
		.edit_comment_tab p{text-align:right; line-height:28px; color:#464646; padding-right:10px;}
		 
	
	.msg_btn{padding:6px 10px 0px; height:30px; background:#f2f2f2;}	
		.msg_btn p{text-align:right;}
		.green_btn{background:url(../../images/Album/class_list_photo_p/green_btn.gif) 0 0 no-repeat; width:57px; height:24px; color:#fff; border:none; cursor:pointer;}
		.qx_btn{background:url(../../images/Album/class_list_photo_p/qx_btn.gif) 0 0 no-repeat; width:57px; height:24px; line-height:24px; border:none; cursor:pointer; text-align:center; color:#73797c; margin-left:10px;}		
		
		
/* to_top */
.to_top a,.to_top a:hover{background:url("/Public/sns/images/Album/class_list_album/gotop.png") no-repeat}
.to_top a{
	background-position:0 0;float:left;height:50px;overflow:hidden;width:50px;position:fixed;bottom:35px;cursor:pointer;right:20px;
	_position:absolute;
	_right:auto;
	_left:expression(eval(document.documentElement.scrollLeft+document.documentElement.clientWidth-this.offsetWidth)-(parseInt(this.currentStyle.marginLeft, 10)||0)-(parseInt(this.currentStyle.marginRight, 10)||20));
	_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop, 10)||20)-(parseInt(this.currentStyle.marginBottom, 10)||20)));
}
.to_top a:hover{background-position:-51px 0px;}	