<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<title>个人相册-瀑布流</title>
<link rel="stylesheet" href="{$smarty.const.IMG_SERVER}__PUBLIC__/sns/css/Common/sns_common.css" type="text/css" charset="utf-8">
<link rel="stylesheet" href="{$smarty.const.IMG_SERVER}__PUBLIC__/sns/css/Album/class_list_photo_p.css" type="text/css" charset="utf-8">

<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/js/jquery-1.5.2.min.js"></script>

<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/tool_js/tip_msg/showtip.js"></script>
<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/js/artDialog4.1.6/artDialog.source.js?skin=idialog"></script>
<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/js/artDialog4.1.6/plugins/iframeTools.source.js"></script>
<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/tool_js/template/template.js"></script>
<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/tool_js/sendbox/sendbox.js"></script>
<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/sns/js/Album/person_photo_list_p.js"></script>


<!--<script type="text/javascript">
{literal}
var isWidescreen=screen.width>=1280; 
if(isWidescreen){document.write("<style type='text/css'>.demo{width:1194px;}</style>");}
{/literal}
</script>

--></head>
<body>
<!--弹出层 star-->
 <!--评论照片 star-->
{include file="Sns/Album/Subtemplate/comment_photo.inc.html"}
 <!--评论照片 end-->
{literal}
     <div class="twc-item" id="clone_selector" style="display:none;">
         <a class="twci-link" href="/Sns/Album/Personphoto/photo/album_id/{album_id}/client_account/{client_account}/photo_id/{photo_id}"">
             <img class="twcil-img" alt="{name}" src="{file_middle_url}">
         </a>
         <p class="pinlun comments" style="display:none;">
         	<a href="javascript:;">评论（<span class="pl_count">{comments}</span>）</a>
         </p>
         <h4 class="twci-header ">
             <a class="twcih-txt" href="#">{name}</a> 
         </h4>
     </div>
 {/literal}	
 <!--弹出层 end-->
 
<!-- 头部start -->
{insert name="sns_header" uid = $client_account}
<!-- 头部end -->

<!--per_tip star-->
{insert name="sns_person_second_header" uid=$client_account}
  <!--<div class="tip">
   <div class="tip_main">
    <p class="f13 f_green">丰台区芳群园第一小学</p><p><a href="#" class="f13 f_green">一年二班<span class="icon_01"></span></a></p><span class="icon_02"></span><p class="f13 f_green">班主任：李老师</p>
    <div class="clear"></div>
   </div> 
  </div>-->
<!--tip end--> 
<!--content star-->
<div class="main_width">
    <ul class="tw-container clearfix" id="container" style="width:1440px;">
    	<li class="twc-item-li"></li>
		<li class="twc-item-li"></li>
		<li class="twc-item-li"></li>
		<li class="twc-item-li"></li>
		<li class="twc-item-li"></li>
    </ul>
    <div id="gotopbtn" style="display:none;" class="to_top"><a title="返回顶部" href="javascript:void(0);"></a></div>
    <div id="more"></div>
</div>
<!--content end-->
<input id="is_edit" type="hidden" value="{$is_edit}"/>
<input id="album_id" type="hidden" value="{$album_id}">
<input id="photo_id" type="hidden" value="{$photo_id}">
<input id="client_account" type="hidden" value="{$client_account}">
<input id="login_account" type="hidden" value="{$login_account}"/>
<input id="img_server" type="hidden" value="{$smarty.const.IMG_SERVER}__PUBLIC__"/>
<!-- 尾部start -->
{include file="Public/sns_footer.html"}
<!-- 尾部end -->
</body>
</html>



