<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" /> 

<title>课程表</title> 

<link rel="stylesheet" type="text/css" href="{$smarty.const.IMG_SERVER}__PUBLIC__/css/newhomepage.css"  />
<link rel="stylesheet" type="text/css" href="{$smarty.const.IMG_SERVER}__PUBLIC__/css/diary.css"  />

<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/js/jquery-1.5.2.min.js"></script>
<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/sns/js/class_course/skin.js"></script>


</head>
<body>
<div class="box">
<div class="nav">
{insert name="publicHeader" class_code = $class_code}
<div class="main">
{insert name="account_left" class_code = $class_code}

<div class="sub_right">
<div class="sub_diary">
<div >
选择模板：
<ul id='skin_show'>

{foreach from=$skin_list item=skin}
<li style="cursor: pointer;float:left;padding-left:10px;" title="点击切换模板">
<img width="31px;" height="23px;" name="{$skin.skin_id}" src="{$smarty.const.IMG_SERVER}__PUBLIC__/sns/images/class_course/course_skin/{$skin.url}">
</li>
{/foreach} 
</ul>
</div>
</div>
<form action="/Homeclass/Curriculum/save/class_code/{$class_code}" method="post" name="form1" id="form1">

<div style=" margin:10px auto 10px auto; width:750px;height:625px;" align="center">
<!--startprint-->

<div style="background:url('{$smarty.const.IMG_SERVER}__PUBLIC__/sns/images/class_course/course_skin/{if $user_course_skin}{$user_course_skin.url}{else}1.jpg{/if}')" id="skin_div" class="curriculmTable">
<div class='curriculmData'>
<div class="cur_content_left">
<ul>
<li>一</li>
<li>二</li>
<li>三</li>
<li>四</li>




</ul>
</div>
<div class="cur_content_right">
<div class="aline">
<span class='blank2'></span>

<ul id='ulam'>
{foreach from=$am_course_list item=am_course_arr key=which_course}
	{foreach from=$am_course_arr item=am_course}
	<li style="cursor: default;"><span>{$am_course.name}</span></li>
	{/foreach}
{/foreach}
</ul>
</div>
</div>
</div>	

<div class='curriculmMid'>午休~，吃完饭别乱跑啊，否则会肚子疼的</div>
<div class='curriculmData1'>

<div class="cur_content_left">
<ul >
<li>五</li>
<li>六</li>
<li>七</li>
<li>八</li>

</ul>
</div>
<div class="cur_content_right">
<div class="aline">
<span class='blank2'></span>
<ul id="ulpm">
{foreach from=$pm_course_list item=pm_course_arr key=which_course}
	{foreach from=$pm_course_arr item=pm_course}
		<li style="cursor: default;"><span>{$pm_course.name}</span></li>
	{/foreach}
{/foreach}
</ul>
</div>
</div>

</div>
</div>
</div>
<span class='blank2'></span>

</div>
</form>

<!--sub_right end-->
<div class="kong"></div>
</div><!--main end-->

<span class='blank10'></span>

{include file="Public/footer.html"}

</div><!--nav end-->
</div><!--box end-->
</body>
</html>