
<link rel="stylesheet" href="{$smarty.const.IMG_SERVER}__PUBLIC__/sns/css/Common/sns_common.css" type="text/css" />
<link rel="stylesheet" href="{$smarty.const.IMG_SERVER}__PUBLIC__/sns/css/Common/sns_footer.css" type="text/css" />

	<!--footer-->
	<div class="footer_bg">
    	<div class="footer_content">
        	<div class="other_link">
            	<a href="#" class="link01"></a>
                <a href="http://www.bjwhzf.gov.cn/accuse.do" class="link02"></a>
                <a href="http://www.hd315.gov.cn/beian/view.asp?bianhao=010202012110100003" class="link03"></a>
                <a href="http://net.china.cn/chinese/index.htm" class="link04"></a>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
            <dl class="footer_logo"></dl>
            <div class="footer_nav">
            	<ul>
                  <a href="#">首页</a><a>|</a><a href="#">关于我们</a><a>|</a><a href="#">联系我们</a><a>|</a><a href="#">招贤纳士</a><a>|</a><a href="http://kd.wmw.cn/">学习资源</a><a>|</a><a href="http://leyou.wm616.cn/">少年导航</a><a>|</a><a href="http://www.zscy.cn/">雏鹰争章</a><a>|</a><a href="/Sns/Maps/SchoolMaps/index">校园导图</a>
                </ul>
                <p class="sns_copy_right">
            	  {$smarty.const.WMW_COPYRIGHT}<br /> 
      			  {$smarty.const.WMW_COMPANY} <br />
     			  {$smarty.const.WMW_ADDRESS} {$smarty.const.WMW_ZIP_CODE}
                </p>
            </div>
           
        </div>
    </div>
    <!--footer end-->

