<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/sns/js/Common/system_center.js"></script>
<!--info star-->
{literal}
<div class="info shu" id="system_center_clone_selector" style="display:none;">
  <dl>
    <dt>
      <img src="{items.sys_img}" />
    </dt>
    <dd>{items.sys_name}</dd>
  </dl>
  <div class="info_right">
    <p class="info_right_top"><span class="fc_288c00">{items.sys_title}</span></p>
    <p class="info_right_center">
     	 {items.sys_content}
    </p>
    <p class="info_right_bottom"></p>
    <p class="info_time">发布时间：{items.sys_time}<!--<span class="pl10">13:21</span>--><span class="pl20">发布者：{items.client_name}</span></p>
  </div>
  <div class="clear"></div>
</div>
{/literal}
<!--info end-->

<div class="system_center heng_list" >
	<p class="icon_show_up"><a href="#" id="icon_show"  title="收起" style="">查看最新公告、作业、成绩</a></p>
</div>
<div class="system_center shu_list" id="system_center_selector">
<!--info star-->
<!--<div class="info">
  <dl>
    <dt><img src="__PUBLIC__/sns/images/HomePage/main/icon_notice.jpg" /></dt>
    <dd>公告</dd>
  </dl>
  <div class="info_right">
    <p class="info_right_top"><span class="fc_288c00">周五大扫除</span></p>
    <p class="info_right_center">
     	 周五全校大扫除，放学后请值日班长安排值日生对班级桌椅板凳及分担区进行彻底清扫。
    </p>
    <p class="info_right_bottom"></p>
    <p class="info_time">发布时间：2012.12.05<span class="pl10">13:21</span><span class="pl20">发布者：我们网</span><a href="#" class="fc_4f9f32 f14">删除</a></p>
  </div>
  <div class="clear"></div>
</div>
--><!--info end-->
<!--info star-->
<!--<div class="info">
  <dl>
    <dt><img src="__PUBLIC__/sns/images/HomePage/main/icon_homework.jpg" /></dt>
    <dd>作业</dd>
  </dl>
  <div class="info_right">
    <p class="info_right_top"><span class="fc_288c00">语文作业</span></p>
    <p class="info_right_center">
      	交作业日期 2012.12.05<a href="#" class="fc_4f9f32 f14">查看作业</a>
    </p>
    <p class="info_right_bottom"></p>
    <p class="info_time">发布时间：2012.12.05<span class="pl10">13:21</span><span class="pl20">发布者：我们网</span><a href="#" class="fc_4f9f32 f14">删除</a></p>
  </div>
  <div class="clear"></div>
</div>
--><!--info end-->
<!--info star-->
<!--<div class="info">
  <dl>
    <dt><img src="__PUBLIC__/sns/images/HomePage/main/icon_exam.jpg" /></dt>
    <dd>成绩</dd>
  </dl>
  <div class="info_right">
    <p class="info_right_top"><span class="fc_288c00">期中考试成绩公布</span></p>
    <p class="info_right_center">
      	考试日期 2012.12.20<a href="#" class="fc_4f9f32 f14">查看成绩</a>
    </p>
    <p class="info_right_bottom"></p>
    <p class="info_time">发布时间：2012.12.05<span class="pl10">13:21</span><span class="pl20">发布者：我们网</span><a href="#" class="fc_4f9f32 f14">删除</a></p>
  </div>
  <div class="clear"></div>
</div>
--><!--info end-->
</div>
