<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/wmw_js/jquery-1.5.2.js"></script>
<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/xheditor/xheditor-1.1.14-zh-cn.min.js"></script>
<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/js/my97datepicker/WdatePicker.js"></script>

<link rel="stylesheet" type="text/css" href="{$smarty.const.IMG_SERVER}__PUBLIC__/js/ui/css/jquery-ui-min.css"  />
<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/js/ui/jquery-ui.min.js"></script>


<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/sns/js/classhomework/publish.js"></script>
</head>
<body>
<form method="post" id="form" action="/Sns/ClassHomework/Publish/write_homework" enctype="multipart/form-data">
	<textarea name="content" id="content" style="width:750px;height:500px;margin:0px;padding:0px;display:block; margin-bottom:10px;"></textarea>
	
	交作业日期:<input type="text" id="end_time" name="homeworkdate"/><span id="end_time_img">时间点击</span>
	
	<br />
	<input name="ContentBg"  id="ContentBg" type="hidden" value='回显值'/>
	<br />
	<input type="button" id="submitted" value="提交"/>
	<br />
	上传附件：<input type="file" name="file_name" id="file_name" />
	<br />
	<div>
	科目：
	{foreach from=$subject_infos item=subject}
	<span>
		<input type="radio" name="subject_id" id="subject_id_{$subject.subject_id}" value="{$subject.subject_id}" />
		<span id="subject_name_{$subject.subject_id}">{$subject.subject_name}</span>
	</span>
	{/foreach}
	<br />
	<input type="hidden" value="1" name="is_sms"/>
	<br />
	<input type="button" value="添加作业接受对象" id="add_accept_btn" />
	
	<br />
	班级列表:
	<div id="choose">
	
	</div>
	<br />
	<div>
	<input type="button" value="预览发布" id="preview_btn"/>
	<br />
	</div>
	</div>
</form>

<!-- 显示学生列表的弹出层 -->
<div id="pop_div" style="display:none;">
	<select class="u252" id="class_list_select">
		<option value="-1">选择班级</option>
	</select>
	
	<div>
		<table id="pop_student_list_tab">
		</table>
		
		<input type="checkbox" id="check_all_btn"/><span>全选</span>
		<input type="button" value="确定" id="sure_btn"/>
	</div>
</div>

<div class="accept_list">
	<div id="accept_list_div_for_clone" style="display:none;">
		<div style="float:left;margin-left:200px;">
			<a href="javascript:;" class="edit_a">编辑</a>
			<a href="javascript:;" class="delete_a">删除</a>
		</div>
		<div style="clear:both;"></div>
	</div>
</div>



<div id="preview_div">
	<span>科目</span>:<span id="subject_name"></span>
	<br />
	
	<span>交作业日期</span>:<span id="end_time"></span>
	<br />
	
	<span>作业内容</span>:<span id="content"></span>
	
	<span id="upload_file_name"></span>
	<br />
	
	<div id="accepters_list">
		<span>作业接受人</span>
		<div class="clone" style="display:none;">
			<span id="class_name">班级名称</span>
			<div id="student_list">
				<span>学生1</span>
			</div>
		</div>
	</div>
	
	<input type="button" id="pub_btn" value="发布作业"/>
	<input type="button" id="pub_with_msg_btn" value="发布+短信"/>
</div>


</body>
</html>